.button {
  padding: 0.5rem 1.25rem;
  border-radius: 999px;
  font-weight: bold;
}

.primary {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
}

.primary:hover {
  background-color: #fff;
  color: #000;
}

.secondary {
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
}
